<div class="sticky mt-1">
    <h4>Experience</h4>
    <ng-container *ngIf="editStatusE">
        <button class="addNewExpSkill-btn" (click)="openAddForm()"></button>
    </ng-container>
</div>
<ng-container *ngIf="addNewProject">
    <div class="addingForm">
        <form class="col-12">
            <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="write your new project name.."
                    [(ngModel)]="newProjName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="paste here image url .."
                    [(ngModel)]="newProjimagePath" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12 mb-3">
                <textarea type="text" class="form-control" placeholder="write description for your project.."
                    [(ngModel)]="newProjDesc" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="openAddForm(); addnewProject()">Submit</button>
        </form>
    </div>
</ng-container>
<p class="mb-3">
    <ng-container *ngIf="allProjects.length === 0">
        (there is no projects)
    </ng-container>
    <ng-container *ngIf="allProjects.length === 1">
        (my project)
    </ng-container>
    <ng-container *ngIf="allProjects.length > 1">
        (my projects)
    </ng-container>
</p>
<div class="main-container">
    <ng-container *ngFor="let proj of allProjects; index as i">
        <div class="box">
            <div class="card" style="width: 18rem;">
                <div class="image-box">
                    <img [src]="proj.imagePath" class="card-img-top">
                    <ng-container *ngIf="editStatusE">
                        <div class="tools">
                            <div class="m-1 I1" [class]="proj.editStatus? 'save':'pencil'"
                                (click)="proj.editStatus?saveChanges(i):changeEditStatus(i)">
                            </div>
                            <div class="m-1 I2 basket" (click)="deleteElem(i,proj.name)"></div>
                        </div>
                    </ng-container>
                </div>
                <div class="card-body">
                    <label class="col-10">
                        <input [class]="proj.editStatus?'form-control':'form-control-plaintext'"
                            class="labelHeader collapsed" type="text"
                            [style]="!proj.editStatus?'cursor:default':'cursor:text'" data-bs-toggle="collapse"
                            [value]="proj.name" [disabled]="!proj.editStatus">
                    </label>
                    <textarea [value]="proj.description" style="height:140px"
                        [class]="proj.editStatus?'form-control':'form-control-plaintext'"
                        [readonly]="!proj.editStatus"></textarea>
                </div>
            </div>
        </div>
    </ng-container>
</div>