@import "/src/app/shared/styles/_variables";

.tech-skills {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  transition: all 0.3s;
}

label {
  width: 82%;
}
.tools {
  display: flex;
  flex-flow: row;
  width: 50px;
  height: 25px;
  padding: 0;
}
.textSkill {
  display: block;
  width: 100%;
  height: 200px;
  resize: none;
}
.addingForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: -1px 11px 8px 0px lightgrey;
}
.pencil-skill,
.basket {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../assets/additional-pictures/pen-blue.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: auto;
  transition: all 0.3s;
  &:hover {
    background-image: url(../../../assets/additional-pictures/pen-black.svg);
  }
}
.basket {
  background-image: url(../../../assets/additional-pictures/trash-alt-blue.svg);
  &:hover {
    background-image: url(../../../assets/additional-pictures/trash-black.svg);
  }
}
.save {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../assets/additional-pictures/save-black.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 5px;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-left: auto;
  transition: all 0.3s;
  outline: 2px solid transparent;
  &:hover {
    background-image: url(../../../assets/additional-pictures/save-green.svg);
  }
}
.sticky {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 10px;
  border-radius: 0 0 15px 15px;
  z-index: 999;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, $mainColor 19%, ghostwhite 91%);
}
.addNewTechSkill-btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(../../../assets/additional-pictures/plus-circle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: beige;
  margin-left: auto;
  transition: all 0.3s;
  animation-name: color;
  animation-duration: 2s;
  background-color: rgba(0, 0, 0, 0.507);

  &:hover {
    outline: 3px solid rgb(137, 255, 153);
  }
  &:active {
    background-color: $mainColor;
  }
}

@keyframes color {
  0% {
    box-shadow: inset 1px 1px 11px 4px rgb(137, 255, 153);
  }
  25% {
    box-shadow: inset 9px 9px 11px 4px rgb(137, 255, 153);
  }
  50% {
    box-shadow: inset -7px -4px 11px 4px rgb(137, 255, 153);
  }
  75% {
    box-shadow: inset 9px 9px 11px 4px rgb(137, 255, 153);
  }
  100% {
    box-shadow: inset 1px 1px 11px 4px rgb(137, 255, 153);
  }
}
